body {
    margin: 0;
    padding: 0;
    background-color: #C4C4CC;
}

.container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 30%;
}

.btn {
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.5;
}

.gallery {
    height: 700px;
    display: none;
}

.selected {
    display: block;
}